@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #695D55;
}

body {
  background-color: #CEE9F4;
}

@font-face {
  font-family: 'Regular';
  src: local('CuteDino'),
  url('./assets/fonts/CuteDino.ttf') format('truetype');
}

.stroke-1 {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #695D55;
}

.fix-stroke {
  paint-order: stroke fill;
}

select:focus {
  outline: none;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('./assets/img/arrow-select.png');
  background-repeat: no-repeat;
  background-position: right 9px top 50%;
  background-color: #D1E9DF;
  width: 100%;
  padding: 13px 10px;
  border-radius: 10px;
}

select:focus {
  outline: 2px #83C4D5 solid;
}